.main-revetements {
	background-color: rgb(53, 53, 112);
	color: white;
}

.main-bois {
	background-color: rgb(185, 142, 64);
	color: white;
}

section.revetements-wrapper, section.bois-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	gap: 50px;
	padding-block: 50px;
}

.revetement-card, .bois-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 250px;
	border-radius: 20px;
	align-self: normal;
	background-color: white;
	border: 10px solid white;
	transition-duration: .5s;
}

.revetement-card {
	box-shadow: 10px 10px 0px 10px rgb(37, 37, 79);
}

.bois-card {
	box-shadow: 10px 10px 0px 10px rgb(95, 73, 33);
}

.revetement-card:hover, .bois-card:hover {
	box-shadow: none;
}

.revetement-card img, .bois-card img {
	width: 100%;
	height: 300px;
	object-fit: contain;
	object-position: center;
}

.revetement-card__content, .bois-card__content {
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}